<%= form_for(@post, remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% else %>
    no tengo errores
  <% end %>

  <div class="field">
    <div class="row">
      <div class="col-2"><%=image_tag(current_user.image.url, class:"img-fluid img-rounded")%></div>
      <div class="col-10"><%= f.text_area :contenido, placeholder: "Escribenos algo interesante" %></div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
