<!DOCTYPE html>
<html>
<head>
  <title>de lo bizarro, lo raro y lo bello</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




  <header>
    <div class='container-fluid'>
      <div class='row'>

        <div class='col-4'>
          <div class='logo'>de lo bizarro, lo raro y lo bello</div>
        </div>
        <div class='col-8'>
          <% if user_signed_in? %>
            <%= link_to("Inicio","/home/welcome") %>
            <%= link_to("Posts","/posts") %>
            <%= link_to("Usuarios","/users/show") %>
            <%= link_to("Ir a la ficha","/users/edit") %>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= render :file => '/devise/sessions/new' %>
            <% end %>
        </div>

      </div>
    </div>
  </header>

  <div id="content" class='container-fluid'>

    <div class='row'>
      <div class='col-7 blanco'>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>

      <div class="col-4 offset-1 blanco">
          <%=render "posts/right" %>
      </div>
    </div>
  </div>

  <footer>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-12'>
          Aqui va el pie
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
